/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Bazinga";
  src: url(../assets/fonte/Bazinga-Regular.otf);
}

@font-face {
  font-family: "Bazinga Italic";
  src: url(../assets/fonte/Bazinga-RegularItalic.otf);
}

@font-face {
  font-family: "Open sans";
  src: url(../assets/fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open sans";
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #1a1a2e;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 75%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023-2026 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffd600;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #1a1a2e;
  font-family: "Bazinga Italic";
}

.logo {
  width: 70px;
  margin-bottom: -40px;
  margin-right: 150px;
}

#hello {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Bazinga";

  img {
    border: 4px #1a1a2e solid;
    border-radius: 40px;
    width: 65px;
    height: 65px;
    margin-right: 10px;
  }
}

#hello p {
  color: black;
  font-size: 23px;
}

.btn-nav {
  width: 40%;
  color: #ffd600;
  background-color: #1a1a2e;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  font-family: "Bazinga";
}

.btn-nav-white {
  width: 40%;
  background-color: #ffd600;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  font-family: "Bazinga";
}

.btn-nav-white p {
  color: #1a1a2e;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout .material-symbols-outlined {
  color: #1a1a2e;
  font-size: 30px;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  height: 28px;
}

.funcionalidades {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.fotos_personagens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  img {
    width: 200px;
    border-radius: 100px;
    margin-right: 50px;
    border: 4px #ffd600 solid;
  }

  button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 220px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    margin-right: 50px;
  }
}

.dash-container {
  width: 98%;
  height: 710px;
  color: white;
  font-family: "Bazinga";
  border: 2px #ffd600 solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../assets/imgs/fundo.png');
  background-size: cover;

  p {
    font-size: 30px;
  }

  .concluido {
    padding: 10px 20px;
    background-color: #d5312c;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    font-family: "Bazinga";
    font-size: 20px;
    color: white;
  }
}

.fotos_personagens .escolha {
  border: 4px #d5312c solid !important;
}

.usando {
  margin: 0;
  padding: 0;
  width: 20%;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  background-color: #1a1a2e;
  height: 28px;

}

.usando a {
  color: #ffd600 !important;
}

.container-jogo {
  width: 100%;
  height: 100%;
  border: 3px #ffd600 solid;
  border-radius: 15px;
  display: flex;
  align-items: end;
  cursor: pointer;
}

.luta {
  background-image: url('../assets/imgs/luta.png');
  background-size: cover;
  background-color: #1a1a2e;
}

.puzzle {
  background-image: url('../assets/imgs/puzzle.png');
  background-size: cover;
  background-color: #1a1a2e;
}

.container-jogo div {
  width: 100%;
  height: 30%;
  background-color: #ffd600;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bazinga";
}

.container-jogo div p {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  .esolha-texto {
    margin-bottom: -50px;
    margin-top: 70px;
    font-size: 50px;
  }

  button {
    width: 30%;
    height: 55%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
  }

  .jogo-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.container-puzzle {
  background-color: #ffd600;
  border-bottom: 28px #ffd600 solid;
  border-top: 15px #ffd600 solid;
  border-left: 12px #ffd600 solid;
  width: 45%;
  height: 68%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  .igual {
    width: 165px;
    height: 165px;
    background-color: #1a1a2e;
    color: white;
    font-size: 40px;
    font-family: "Bazinga";
    margin-left: -5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .diferente {
    width: 165px;
    height: 165px;
    color: white;
    background-color: #1a1a2e25;
    margin-left: -5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

#b1 {
  background-image: url('../assets/imgs/b1.png');
  background-size: cover;
}

#b2 {
  background-image: url('../assets/imgs/b2.png');
  background-size: cover;
}

#b3 {
  background-image: url('../assets/imgs/b3.png');
  background-size: cover;
}

#b4 {
  background-image: url('../assets/imgs/b4.png');
  background-size: cover;
}

#b5 {
  background-image: url('../assets/imgs/b5.png');
  background-size: cover;
}

#b6 {
  background-image: url('../assets/imgs/b6.png');
  background-size: cover;
}

#b7 {
  background-image: url('../assets/imgs/b7.png');
  background-size: cover;
}

#b8 {
  background-image: url('../assets/imgs/b8.png');
  background-size: cover;
}

.quantidade {
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 18px;
    font-family: "Open sans";
    color: #1a1a2e;
    text-align: center;
    background-color: #ffd600;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  span {
    font-size: 16px;
    text-align: center;
  }

  button {
    background-color: #ffd600;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
  }

  button span {
    font-size: 20px;
  }
}

#escolhaQuiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.tituloQuiz {
  font-size: 40px !important;
  font-family: "Bazinga italic";
  text-align: center;
}

.iniciarQuiz {
  font-size: 22px !important;
}

#pontuacaoEJogo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnIniciarQuizFacil {
  background-color: #4cc659;
  width: 40%;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #1d1d1d;
  cursor: pointer;
}

#btnIniciarQuizMedio {
  background-color: #ffbd59;
  width: 40%;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #1d1d1d;
  cursor: pointer;
}

#btnIniciarQuizDificil {
  background-color: #d5312c;
  width: 40%;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #1d1d1d;
  cursor: pointer;
}

#jogoQuiz {
  background-color: #1a1a2ee2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 90%;
  border-radius: 10px;

  button {
    background-color: #ffd600;
    border: none;
    border-radius: 7px;
    width: 90%;
    padding: 10px 0px;
  }
}

#infoQuestao {
  font-family: "Open Sans";
  background-color: #ffd5008d;
  color: #ffd600;
  width: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#perguntaDaQuestaoAtual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  span {
    font-size: 18px;
  }
}

#opcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    width: 90%;
    background-color: #1a1a2e;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 0px;
    border-radius: 10px;
  }

  span input {
    width: 100%;
    padding: 8px 0px;
    margin-left: -160px;
  }

  span label {
    width: 100%;
    padding: 8px 0px;
    margin-left: -185px;
  }
}

#botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  button {
    margin-bottom: 10px;
    font-family: "Bazinga";
  }
}

#mensagemFinal {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    text-align: center;
  }
}

#escolhaCartas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 520px;

  .carta {
    width: 25%;
    height: 51%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .comecar {
    width: 170px;
    height: 50px;
    background-color: #4cc659;
    font-family: "Bazinga";
    font-size: 17px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
  }

  .limpar {
    width: 170px;
    height: 50px;
    background-color: #d5312c;
    font-family: "Bazinga";
    font-size: 17px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
  }

  .div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 80px;
  }
  .botoesEscolha {
    margin-bottom: 30px;
  }
}

.jogo::-webkit-scrollbar {
  width: 4px;
}

.jogo::-webkit-scrollbar-track {
  background-color: #ffd600;
  border-radius: 2px;
}

.jogo::-webkit-scrollbar-thumb {
  background-color: #1a1a2e;
  border-radius: 2px;
}

.dashboard {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: start;
}

.dashboard::-webkit-scrollbar {
  width: 4px;
}

.dashboard::-webkit-scrollbar-track {
  background-color: #ffd600;
  border-radius: 2px;
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: #1a1a2e;
  border-radius: 2px;
}

.escolhida {
  border: 4px #4cc659 solid !important;
}

#jogoComecar {
  p {
    text-align: center;
    font-size: 25px;
    margin-top: -4px;
  }
  button {
    width: 180px;
    height: 180px;
    cursor: pointer;
    border: 2px #ffd600 solid;
    border-radius: 7px;
  }
  img {
    width: 100%;
  }
}

.vs_img {
  width: 120px !important;
  position: absolute;
  margin-left: 500px;
  margin-top: 30px;
}

.mostrar {
  margin-bottom: 350px;
  margin-top: 70px;

  .escolhida_pessoa {
    position: absolute;
    width: 220px !important; 
    margin-left: 230px;
  }
  .escolhida_maquina {
    position: absolute;
    width: 220px !important; 
    margin-left: 680px;
  }
}

#kpis {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  div {
    width: 360px;
    height: 140px;
    border-radius: 7px;
  }
  #kpi_puzzle {
    background-color: #1a1a2e;
  }
  #kpi_luta {
    background-color: #1a1a2e;
  }
  #kpi_quiz {
    background-color: #4cc659;
  }
}

#container_grafico {
  width: 100%;
}

.botoes-dados {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;

  button {
    width: 20%;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Bazinga Italic";
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
  }
}

.btnAtual {
  background-color: #ffd600;
  color: #1a1a2e;
  border-top: 3px solid #49494a;
  border-left: 3px solid #49494a;
}

.btnNaoAtual {
  background-color: #1a1a2e;
  color: #ffd600;
  border-top: 3px solid #49494a;
  border-left: 3px solid #49494a;
}

#containerMeusDados {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#containerRanking {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking {
  background-color: #1a1a2e;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

#table {
  width: 100%;
  border: 1px solid #ffff;
}

td {
  text-align: center;
  border: 1px solid #ffff;
}

tr {
  border: 1px solid #ffff;
}

.containerPartidas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#graficoVencedor {
  width: 50%;
}

#tabelaPartidas {
  width: 50%;
}

#tablePartidas {
  width: 90%;
  border: 1px solid #ffff;
}